node-red/.flows.json.backup
[{"id":"12625cb9.a52d53","type":"tab","label":"secrets.yaml","disabled":false,"info":"Placeholder to get secrets.yaml into Node-RED flows.\n\nCopy it into the flow when the secrets are needed.\n\n// TODO: Maybe this should be loaded globally once and on boot?"},{"id":"ddb9c6b6.a17968","type":"tab","label":"Daily backup","disabled":false,"info":"A full snapshot will be taken daily and stored on Dropbox."},{"id":"6bf88cd4.3f8a84","type":"server","name":"Home Assistant","addon":true},{"id":"a1235f6b.6a4cb","type":"server","name":"Home Assistant","addon":true},{"id":"faa8d9b.e447228","type":"file in","z":"12625cb9.a52d53","name":"secrets","filename":"/config/secrets.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":100,"wires":[["afaa4271.867b"]]},{"id":"afaa4271.867b","type":"yaml","z":"12625cb9.a52d53","property":"payload","name":"","x":400,"y":100,"wires":[["5c50d4b5.6ecf7c"]]},{"id":"5c50d4b5.6ecf7c","type":"function","z":"12625cb9.a52d53","name":"","func":"for (let [key, value] of Object.entries(msg.payload)) {\n  flow.set(key,value);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":100,"wires":[[]]},{"id":"ddd3382b.806b38","type":"function","z":"12625cb9.a52d53","name":"","func":"msg.payload = flow.get('github_access_token');\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":140,"wires":[["1246a9d4.c80c46"]]},{"id":"4e866d8b.002004","type":"inject","z":"12625cb9.a52d53","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["ddd3382b.806b38"]]},{"id":"1246a9d4.c80c46","type":"debug","z":"12625cb9.a52d53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"3743132c.f316ac","type":"inject","z":"12625cb9.a52d53","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["faa8d9b.e447228"]]},{"id":"15052fb3.4f209","type":"comment","z":"12625cb9.a52d53","name":"Copy it into the flow when the secrets are needed.","info":"Copy it into the flow when the secrets are needed.\n\nMaybe it would be nice to have this globally and loaded once.","x":230,"y":40,"wires":[]},{"id":"d5f2bd05.9050b","type":"inject","z":"ddb9c6b6.a17968","name":"Daily","repeat":"","crontab":"00 00 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["b16e9d2b.87549"]]},{"id":"77e675da.d9aa2c","type":"server-state-changed","z":"ddb9c6b6.a17968","name":"Manual backup","server":"a1235f6b.6a4cb","version":1,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.start_backup","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":80,"y":180,"wires":[["b16e9d2b.87549"]]},{"id":"b1a386a8.b86818","type":"api-call-service","z":"ddb9c6b6.a17968","name":"Manual backup off","server":"a1235f6b.6a4cb","version":1,"debugenabled":false,"service_domain":"input_boolean","service":"turn_off","entityId":"input_boolean.start_backup","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":930,"y":180,"wires":[[]]},{"id":"4da3af14.1cc7b","type":"api-call-service","z":"ddb9c6b6.a17968","name":"Full snapshot","server":"a1235f6b.6a4cb","version":1,"debugenabled":false,"service_domain":"hassio","service":"snapshot_full","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":430,"y":180,"wires":[["13a6b1bc.7467fe"]]},{"id":"13a6b1bc.7467fe","type":"delay","z":"ddb9c6b6.a17968","name":"Delay","pauseType":"delay","timeout":"30","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":570,"y":180,"wires":[["c869471.6ac41b8"]]},{"id":"c869471.6ac41b8","type":"api-call-service","z":"ddb9c6b6.a17968","name":"Upload to Dropbox","server":"a1235f6b.6a4cb","version":1,"debugenabled":false,"service_domain":"hassio","service":"addon_stdin","entityId":"","data":"{\"addon\":\"7be23ff5_dropbox_sync\",\"input\":{\"command\":\"upload\"}}","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":730,"y":180,"wires":[["b1a386a8.b86818"]]},{"id":"1a98a174.50e85f","type":"function","z":"ddb9c6b6.a17968","name":"Snapshot name","func":"msg.payload =  flow.get('home_assistant_ip_address') + '_' + Date.now();\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":120,"wires":[["145c52cc.e65f7d"]]},{"id":"b16e9d2b.87549","type":"file in","z":"ddb9c6b6.a17968","name":"secrets","filename":"/config/secrets.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":340,"y":120,"wires":[["38ba54b0.9f785c"]]},{"id":"38ba54b0.9f785c","type":"yaml","z":"ddb9c6b6.a17968","property":"payload","name":"","x":480,"y":120,"wires":[["8b2713.bec9b8f"]]},{"id":"8b2713.bec9b8f","type":"function","z":"ddb9c6b6.a17968","name":"","func":"for (let [key, value] of Object.entries(msg.payload)) {\n  flow.set(key,value);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":120,"wires":[["1a98a174.50e85f"]]},{"id":"145c52cc.e65f7d","type":"link out","z":"ddb9c6b6.a17968","name":"","links":["618b71e.38d719"],"x":935,"y":120,"wires":[]},{"id":"618b71e.38d719","type":"link in","z":"ddb9c6b6.a17968","name":"","links":["145c52cc.e65f7d"],"x":315,"y":180,"wires":[["4da3af14.1cc7b"]]},{"id":"8f937163.3cca9","type":"comment","z":"ddb9c6b6.a17968","name":"Defining the name of the snapshot","info":"As I use the same Dropbox account to store the backups of a development instance and the live one, I'm adding the IP of Home Assistant to the name.","x":680,"y":60,"wires":[]}]