node-red/flows.json
[{"id":"12625cb9.a52d53","type":"tab","label":"secrets.yaml","disabled":false,"info":"Placeholder to get secrets.yaml into Node-RED flows.\n\nCopy it into the flow when the secrets are needed.\n\n// TODO: Maybe this should be loaded globally once and on boot?"},{"id":"6bb04e91.678b","type":"tab","label":"The lab","disabled":false,"info":"To test nodes and automations"},{"id":"6bf88cd4.3f8a84","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"faa8d9b.e447228","type":"file in","z":"12625cb9.a52d53","name":"secrets","filename":"/config/secrets.yaml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":260,"y":100,"wires":[["afaa4271.867b"]]},{"id":"afaa4271.867b","type":"yaml","z":"12625cb9.a52d53","property":"payload","name":"","x":400,"y":100,"wires":[["5c50d4b5.6ecf7c"]]},{"id":"5c50d4b5.6ecf7c","type":"function","z":"12625cb9.a52d53","name":"","func":"for (let [key, value] of Object.entries(msg.payload)) {\n  flow.set(key,value);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":100,"wires":[[]]},{"id":"ddd3382b.806b38","type":"function","z":"12625cb9.a52d53","name":"","func":"msg.payload = flow.get('home_name');\n \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":140,"wires":[["1246a9d4.c80c46"]]},{"id":"4e866d8b.002004","type":"inject","z":"12625cb9.a52d53","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":140,"wires":[["ddd3382b.806b38"]]},{"id":"1246a9d4.c80c46","type":"debug","z":"12625cb9.a52d53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":140,"wires":[]},{"id":"3743132c.f316ac","type":"inject","z":"12625cb9.a52d53","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":100,"wires":[["faa8d9b.e447228"]]},{"id":"15052fb3.4f209","type":"comment","z":"12625cb9.a52d53","name":"Copy it into the flow when the secrets are needed.","info":"Copy it into the flow when the secrets are needed.\n\nMaybe it would be nice to have this globally and loaded once.","x":230,"y":40,"wires":[]},{"id":"b6b21447ed1baaf8","type":"ha-get-entities","z":"6bb04e91.678b","name":"","server":"6bf88cd4.3f8a84","version":0,"rules":[{"property":"linkquality","logic":"is","value":"false","valueType":"bool"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":470,"y":160,"wires":[["be4d92708e3f6d23"]]},{"id":"be4d92708e3f6d23","type":"debug","z":"6bb04e91.678b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":850,"y":160,"wires":[]},{"id":"de17ce5aaeab13d3","type":"inject","z":"6bb04e91.678b","name":"","props":[{"p":"payload","v":"","vt":"date"},{"p":"topic","v":"","vt":"string"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["b6b21447ed1baaf8"]]}]